WindowsFormsApplication1/Service References/ServiceReference1/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.yourcompany.com/types/" elementFormDefault="qualified" targetNamespace="http://www.yourcompany.com/types/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19223/Service1.svc?xsd=xsd3" namespace="http://www.tannguyen.com/types/" />
  <xs:complexType name="TokenRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.tannguyen.com/types/" base="q1:RequestBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TokenRequest" nillable="true" type="tns:TokenRequest" />
  <xs:complexType name="TokenResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://www.tannguyen.com/types/" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TokenResponse" nillable="true" type="tns:TokenResponse" />
</xs:schema>