trunk/WindowsFormsApplication1/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19223/Service1.svc?xsd=xsd2" namespace="http://www.yourcompany.com/types/" />
  <xs:import schemaLocation="http://localhost:19223/Service1.svc?xsd=xsd3" namespace="http://www.tannguyen.com/types/" />
  <xs:element name="GetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.yourcompany.com/types/" minOccurs="0" name="request" nillable="true" type="q1:TokenRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.yourcompany.com/types/" minOccurs="0" name="GetTokenResult" nillable="true" type="q2:TokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.tannguyen.com/types/" minOccurs="0" name="request" nillable="true" type="q3:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.tannguyen.com/types/" minOccurs="0" name="LoginResult" nillable="true" type="q4:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.tannguyen.com/types/" minOccurs="0" name="request" nillable="true" type="q5:LogoutRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.tannguyen.com/types/" minOccurs="0" name="LogoutResult" nillable="true" type="q6:LogoutResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapGoogle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.tannguyen.com/types/" minOccurs="0" name="request" nillable="true" type="q7:MapImageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapGoogleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://www.tannguyen.com/types/" minOccurs="0" name="GetMapGoogleResult" nillable="true" type="q8:MapImageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>